body.index {
  .columns.has-circled-icons {
    $background-colors: $alizarin,
                        $carrot,
                        $sun-flower,
                        $emerland,
                        $peter-river,
                        $amethyst;

    .column {
      @for $i from 1 through length($background-colors) {
        &:nth-child(#{$i}) {
          .has-circled-icon {
            $background-color: nth($background-colors, $i);
            @include circle(2 * $size-1, $background-color);

            i {
              color: $white;
            }

            &:hover {
              background-color: $grey-light;

              i {
                color: $white-ter;
              }
            }

            @media (max-width: $tablet) {
              @include circle($size-1, $background-color);
            }
          }
        }
      }
    }
  }
}
