@charset "utf-8";

@use "bulma/sass" with (
    $footer-background-color: none,
    $footer-padding: 2rem 1.5rem,
    $link: hsl(348, 86%, 61%),
);

@use "fonts";

@use "header";
@use "homepage";
@use "publications";
