@charset "utf-8";

@import "fonts";
@import "colors";
@import "mixins";

$footer-background-color: none;
$footer-padding: 2rem 1.5rem;
$link: hsl(348, 86%, 61%);

@import "bulma/bulma";

@import "header";
@import "homepage";
@import "publications";
