<!doctype html>
<html data-theme="light">
  {% include "../partials/head.njk" %}

  <body class="home">
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <main role="main">
            {{ content | safe }}
          </main>
        </div>
      </div>

      <div class="hero-foot">
        {% include "../partials/footer.njk" %}
      </div>
    </section>
  </body>
</html>
