.items
  $item-colors: $alizarin, $carrot, $sun-flower, $emerland, $peter-river, $amethyst

  @include clearfix

  .item
    width: 100%
    overflow: hidden
    padding: 0 1em

    @for $i from 1 through length($item-colors)
      &:nth-child(#{$i})
        .item-icon
          $background-color: nth($item-colors, $i)
          @include circle(2.8em, $background-color)
          display: inline-block
          margin-right: 0.5em
          text-align: center
          i
            color: white
            font-size: 1.4em
            line-height: 2em
          &:hover
            background-color: darken($background-color, 10)

    .item-link
      display: inline-block
      height: 4em
      h3
        font-size: 1.4em
