<footer>
  <div class="container">
    &copy; 2014 &ndash; 2019, Murtaza Gulamali.
    <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Some rights reserved</a>.<br>
    Made with <i class="icon-heart"></i> using <a title="Middleman" href="http://middlemanapp.com/">Middleman</a>.
    <i class="icon-key"></i> <a title="GPG" href="/mygulamali.asc">GPG</a> / <a title="Keybase" href="https://keybase.io/murtaza">Keybase</a>
  </div>
</footer>
