<header>
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <div class="navbar-item">
          <%= home_page_link %>
        </div>
      </div>
    </div>
  </nav>
</header>
