<header>
  <div class="column">
    <h1>{{ site.title }}</h1>
  </div>
  <div class="column">
    <nav>
      <ul class="nav">
        <li><a href="/">Home</a></li>
        {% for category in site.categories reversed %}
        {% assign category_name = category.first %}
        <li>
        {% if (page.category != category_name) or (page.layout == 'post') %}
          <a href="/{{ category_name | downcase }}/">{{ category_name | capitalize }}</a>
        {% else %}
          {{ category_name | capitalize }}
        {% endif %}
        </li>
        {% endfor %}
        <li><a href="https://github.com/mygulamali">GitHub</a></li>
      </ul>
    </nav>
  </div>
</header>
