<p>The ICENI middleware utilises information captured within a component based
application in order to facilitate Grid-based scheduling. We describe a system
of application related meta-data that features a separation of concerns between
meaning, behaviour and implementation, which allows for both communication and
implementation selection at run-time, while providing the user with a flow-based
programming model. It is shown that this separation enables a flexible approach
to scheduling, and eases the integration of components with disparate control
flow patterns or data types, by means of converters and tees for collective
communication. By explicitly recording application information and supporting
multiple scheduling approaches, communication protocols and component
applications, while retaining OGSA compatibility, the ICENI component model is
ideally suited to Grid computing.</p>
