<p>The GENIE project aims to deliver a Grid-based, modular, distributed and
scalable Earth System Model for long-term and paleo-climate studies to the
environmental sciences community. In this paper we address the scientific
problem of the vulnerability of the thermohaline circulation to the global
climate,and describe our e-scientific solution using a Grid-based architecture
involving Condor computational resources, web service oriented data management
mechanisms and the employment of a web portal. We ﬁnd that the scientific
results of our e-science efforts are useful to the environmental science
community, and provide a means of fulfilling the longer-term aims of the GENIE
project.</p>
