<footer class="footer">
  <div class="content has-text-centered">
    <p>
      &copy; 2014 &ndash; 2021, Murtaza Gulamali.
      <i class="icon-key"></i> <a title="GPG" href="/mygulamali.asc">GPG</a> /
      <a title="Keybase" href="https://keybase.io/murtaza">Keybase</a><br>

      Made with <i class="icon-heart"></i> using
      <a title="Middleman" href="http://middlemanapp.com/">Middleman</a> and
      <a title="Bulma" href="https://bulma.io">Bulma</a>.
    </p>
  </div>
</footer>
