<footer class="footer">
  <div class="content has-text-centered">
    <p>
      &copy; 2014 &ndash; 2023, Murtaza Gulamali.
      <i class="icon-key"></i> <a title="GPG" href="/mygulamali.asc">GPG</a> /
      <a title="Keybase" href="https://keybase.io/murtaza">Keybase</a>
    </p>
    <p>
      Made with <i class="icon-heart"></i> using
      <a title="Eleventy" href="https://www.11ty.dev/">11ty</a>,
      <a title="Bulma" href="https://bulma.io">Bulma</a> and
      <a title="Font Awesome" href="https://fontawesome.com/">Font Awesome</a>.
      <a title="Source code" href="https://github.com/mygulamali/gulamali.net">Source code</a>.
    </p>
  </div>
</footer>
