<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <title>{% pageTitle title %}</title>

  <meta name="description" content="Is my website, init!">
  <meta name="author" content="Murtaza Gulamali">
  <meta name="generator" content="{{ eleventy.generator }}">

  <link rel="canonical" href="//www.gulamali.net">
  <link rel="shortcut icon" href="/favicon.ico">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cleartype" content="on">
  <link rel="stylesheet" href="/assets/main.css">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ gaTrackingId }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag("js", new Date());
    gtag("config", "{{ gaTrackingId }}");
  </script>

  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
