Gulamali, M. Y., and P. J. Cargill (2001), Ulysses observations of magnetohydrodynamic turbulence in corotating interaction regions, <em>J. Geophys. Res.</em>, <strong>106</strong>, 15687–15699, DOI: <a href="http://dx.doi.org/10.1029/2000JA000390">10.1029/2000JA000390</a>.
