Mayer, A., S. McGough, M. Gulamali, L. Young, J. Stanton, S. Newhouse and J. Darlington (2002) Meaning and Behaviour in Grid Oriented Components, in Parashar, M. (ed) Grid Computing – GRID 2002, Lecture Notes in Computer Science, <strong>2536</strong>, 100–111, DOI: <a href="http://dx.doi.org/10.1007/3-540-36133-2_10">10.1007/3-540-36133-2_10</a>.
