M. Y. Gulamali, T. M. Lenton, A. Yool, A. R. Price, R. J. Marsh, N. R. Edwards, P. J. Valdes, J. L. Wason, S. J. Cox, M. Krznaric, S. Newhouse and J. Darlington (2003) <a href="http://www.nesc.ac.uk/events/ahm2003/AHMCD/pdf/026.pdf">GENIE: Delivering e-Science to the environmental scientist</a>, in <em>Proc. UK e-Science All Hands Meeting 2003</em>, pp. 145–152.
