Marsh, R., A. Yool, T. M. Lenton, M. Y. Gulamali, N. R. Edwards, J. G. Shepherd, M. Krznaric, S. Newhouse and S. J. Cox (2004) Bistability of the thermohaline circulation identified through comprehensive 2-parameter sweeps of an efficient climate model, <em>Climate Dynamics</em>, <strong>23</strong>, 761-777. DOI:
<a href="http://dx.doi.org/10.1007/s00382-004-0474-1">10.1007/s00382-004-0474-1</a>.
