Gulamali, M. Y., A. S. McGough, R. J. Marsh, N. R. Edwards, T. M. Lenton, P. J. Valdes, S. J. Cox, S. J. Newhouse, J. Darlington, and the GENIE team (2004) <a href="http://www.allhands.org.uk/2004/proceedings/papers/259.pdf">Performance guided scheduling in GENIE through ICENI</a>, in <em>Proc. UK e-Science All Hands Meeting 2004</em>, pp. 792–799.
