Gulamali, M. Y., E. Leinov and M. D. Jackson (2011), Self-potential anomalies induced by water injection into hydrocarbon reservoirs, <em>Geophysics</em>, <strong>76</strong> (No. 4), F283-F292, DOI: <a href="http://dx.doi.org/10.1190/1.3596010">10.1190/1.3596010</a>.
