Jackson, M. D., M. Y. Gulamali, E. Leinov, J. H. Saunders, and J. Vinogradov (2012) Spontaneous potentials in hydrocarbon reservoirs during waterflooding: Application to water-front monitoring, <em>Society of Petroleum Engineering Journal</em>, <strong>17</strong>, Paper 135146-PA.  DOI: <a href="http://dx.doi.org/10.2118/135146-PA">10.2118/135146-PA</a>.
