---
title: Publications
publications:
  - 2012-spe-journal
  - 2011-geophysics
  - 2010-spe-journal
  - 2004-climate-dynamics
  - 2004-ahm
  - 2003-ahm
  - 2002-phd-thesis
---

<h1 class="title is-1 is-family-serif has-text-centered">
  Publications
</h1>

<ul>
  <% current_page.data.publications.each do |publication| %>
    <li class="content">
      <%= partial "citations/#{publication}" %>

      <div class="is-hidden-mobile">
        <button class="button is-block is-link is-outlined is-small">
          <span class="icon">
            <i class="icon-chevron-down"></i>
          </span>
          <span>Abstract</span>
        </button>

        <div class="abstract is-family-serif">
          <%= partial "abstracts/#{publication}" %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li class="content is-size-5">
      <span><%= article.date.strftime('%Y') %></span>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>
