---
title: Publications
publications:
  - 2012-spe-journal
  - 2011-geophysics
  - 2010-spe-journal
  - 2004-climate-dynamics
  - 2004-ahm
  - 2003-ahm
  - 2002-phd-thesis
  - 2002-grid
  - 2001-jgr
---

<h2>Publications</h2>

<ul class="publication-items">
  <% current_page.data.publications.each do |publication| %>
    <li class="publication-item">
      <%= partial "citations/#{publication}" %>
      <div class=abstract>
        <div class="abstract-toggle">
          <i class="icon-circle-right"></i> <span>Show</span> Abstract
        </div>

        <div class="abstract-content">
          <%= partial "abstracts/#{publication}" %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
