<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
  {% include head.html %}
  <body id="{{ page.layout }}">
    {% include header.html %}

    <hr />

    <main role="main">
      {% if page.category %}
        {% assign posts = site.categories[page.category] %}
        <h2>{{ page.category|capitalize }}</h2>
      {% else %}
        {% assign posts = site.posts %}
      {% endif %}

      {% assign year = posts.first.date | date:'%Y' %}
      <h3>{{ year }}</h3>
      <ul class="list">
      {% for post in posts %}
        {% assign post_year = post.date | date: '%Y' %}
        {% if post_year != year %}
          </ul>
          {% assign year = post_year %}
          <h3>{{ year }}</h3>
          <ul class="list">
        {% endif %}
        <li>
          <div class="time">{{ post.date | date_to_time_tag:'%d %b' }}</div>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </main>

    <hr />

    {% include footer.html %}
    {% include analytics.html %}
  </body>
</html>
