<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
  {% include head.html %}
  <body id="{{ page.layout }}">
    {% include header.html %}

    <hr />

    <main role="main">
      <div class="time">{{ page.date | date_to_time_tag:'%-d %B %Y' }}</div>
      <h2>{{ page.title }}</h2>

      <article>
        {{ content }}
      </article>
    </main>

    <hr />

    {% include footer.html %}
    {% include js_assets.html %}
    {% include analytics.html %}
  </body>
</html>
