---
links:
  - icon: signal
    title: Curriculum Vitae
    url: http://careers.stackoverflow.com/murtaza

  - icon: book
    title: Publications
    url: /publications/

  - icon: github
    title: Code
    url: https://github.com/mygulamali

  - icon: twitter
    title: Social Media
    url: https://twitter.com/mygulamali

  - icon: tumblr
    title: Weblog
    url: http://mygulamali.tumblr.com/

  - icon: flickr
    title: Photos
    url: https://www.flickr.com/photos/mygulamali/
---
<h2>This is my website.  There are many like it, but this one is <strong>mine</strong>.</h2>

<ul class="items">
  <% current_page.data.links.each do |link| %>
    <li class="item">
      <% link_to link.url, title: link.title do %>
        <div class="item-icon">
          <i class="icon-<%= link.icon %>"></i>
        </div>

        <div class="item-link">
          <h3><%= link.title %></h3>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
