---
layout: layouts/home
links:
  - icon: linkedin
    title: Resume
    url: https://uk.linkedin.com/in/mygulamali

  - icon: github-alt
    title: Code
    url: https://github.com/mygulamali

  - icon: book
    title: Publications
    url: /publications/
---

{% macro anchor(title, url) %}
{% set re = r/^https:\/\// %}
{% if re.test(url) %}
  <a href="{{ url }}" title="{{ title }}" target="_blank">
{% else %}
  <a href="{{ url }}" title="{{ title }}">
{% endif %}
{% endmacro %}

<section class="section has-text-centered">
  <h1 class="title is-1 is-family-serif">
    {{ siteTitle }}
  </h1>

  <h2 class="subtitle is-3 has-text-grey">
    This is my website.
    There are many like it, but this one is <strong>mine</strong>.
  </h2>
</section>

<section class="section">
  <div class="columns is-multiline has-circled-icons">
    {% for link in links %}
    <div class="column has-text-centered has-text-left-mobile">
      <div class="is-inline-mobile is-size-1 is-size-4-mobile">
        {{ anchor(link.title, link.url) }}
          <span class="icon has-circled-icon">
            <i class="icon-{{ link.icon }}"></i>
          </span>
        </a>
      </div>
      <div class="is-inline-mobile is-size-4">
        {{ anchor(link.title, link.url) }}
          {{ link.title }}
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
