<h2>This is my website.  There are others like it, but this website is <strong>mine</strong>.</h2>

<ul class="items">
  <li class="item">
    <% link_to 'http://careers.stackoverflow.com/murtaza', title: "Curriculum Vitae" do %>
      <div class="item-icon">
        <i class="icon-signal"></i>
      </div>
      <div class="item-link">
        <h3>Curriculum Vitae</h3>
      </div>
    <% end %>
  </li>

  <li class="item">
    <% link_to '/publications/', title: "Publications" do %>
      <div class="item-icon">
        <i class="icon-book"></i>
      </div>
      <div class="item-link">
        <h3>Publications</h3>
      </div>
    <% end %>
  </li>

  <li class="item">
    <% link_to 'https://github.com/mygulamali', title: "Code" do %>
      <div class="item-icon">
        <i class="icon-github"></i>
      </div>
      <div class="item-link">
        <h3>Code</h3>
      </div>
    <% end %>
  </li>

  <li class="item">
    <% link_to 'https://twitter.com/mygulamali', title: "Social Media" do %>
      <div class="item-icon">
        <i class="icon-twitter"></i>
      </div>
      <div class="item-link">
        <h3>Social Media</h3>
      </div>
    <% end %>
  </li>

  <li class="item">
    <% link_to 'http://mygulamali.tumblr.com/', title: "Weblog" do %>
      <div class="item-icon">
        <i class="icon-tumblr"></i>
      </div>
      <div class="item-link">
        <h3>Weblog</h3>
      </div>
    <% end %>
  </li>

  <li class="item">
    <% link_to 'https://www.flickr.com/photos/mygulamali/', title: "Photos" do %>
      <div class="item-icon">
        <i class="icon-flickr"></i>
      </div>
      <div class="item-link">
        <h3>Photos</h3>
      </div>
    <% end %>
  </li>
</ul>
