<ul class="items">
  <li class="item">
    <a title="Curriculum Vitae" href="http://careers.stackoverflow.com/murtaza">
      <div class="item-icon">
        <i class="icon-signal"></i>
      </div>
      <div class="item-link">
          <h3>Curriculum Vitae</h3>
      </div>
    </a>
  </li>

  <li class="item">
    <a title="Publications" href="#">
      <div class="item-icon">
        <i class="icon-book"></i>
      </div>
      <div class="item-link">
          <h3>Publications</h3>
      </div>
    </a>
  </li>

  <li class="item">
    <a title="Code" href="https://github.com/mygulamali">
      <div class="item-icon">
        <i class="icon-github"></i>
      </div>
      <div class="item-link">
          <h3>Code</h3>
      </div>
    </a>
  </li>

  <li class="item">
    <a title="Social Media" href="https://twitter.com/mygulamali">
      <div class="item-icon">
        <i class="icon-twitter"></i>
      </div>
      <div class="item-link">
          <h3>Social Media</h3>
      </div>
    </a>
  </li>

  <li class="item">
    <a title="Weblog" href="http://mygulamali.tumblr.com/">
      <div class="item-icon">
        <i class="icon-tumblr"></i>
      </div>
      <div class="item-link">
          <h3>Weblog</h3>
      </div>
    </a>
  </li>

  <li class="item">
    <a title="Photos" href="https://www.flickr.com/photos/mygulamali/">
      <div class="item-icon">
        <i class="icon-flickr"></i>
      </div>
      <div class="item-link">
          <h3>Photos</h3>
      </div>
    </a>
  </li>
</ul>
