<ul class="items">
  <li class="item">
    <div class="item-icon">
      <i class="icon-book"></i>
    </div>
    <div class="item-link">
      <a title="Publications" href="#">
        <h3>Publications</h3>
      </a>
    </div>
  </li>

  <li class="item">
    <div class="item-icon">
      <i class="icon-github"></i>
    </div>
    <div class="item-link">
      <a title="Code" href="https://github.com/mygulamali">
        <h3>Code</h3>
      </a>
    </div>
  </li>

  <li class="item">
    <div class="item-icon">
      <i class="icon-twitter"></i>
    </div>
    <div class="item-link">
      <a title="Social Media" href="https://twitter.com/mygulamali">
        <h3>Social Media</h3>
      </a>
    </div>
  </li>

  <li class="item">
    <div class="item-icon">
      <i class="icon-tumblr"></i>
    </div>
    <div class="item-link">
      <a title="Weblog" href="http://mygulamali.tumblr.com/">
        <h3>Weblog</h3>
      </a>
    </div>
  </li>

  <li class="item">
    <div class="item-icon">
      <i class="icon-flickr"></i>
    </div>
    <div class="item-link">
      <a title="Photos" href="https://www.flickr.com/photos/mygulamali/">
        <h3>Photos</h3>
      </a>
    </div>
  </li>
</div>
