---
layout: layouts/home
links:
  - icon: book
    title: Publications
    url: /publications/

  - icon: linkedin
    title: Curriculum Vitae
    url: https://uk.linkedin.com/in/mygulamali

  - icon: github-alt
    title: Code
    url: https://github.com/mygulamali

  - icon: twitter
    title: Social Media
    url: https://twitter.com/mygulamali

  - icon: instagram
    title: Photos
    url: https://www.instagram.com/mygulamali
---

<section class="section has-text-centered">
  <h1 class="title is-1 is-family-serif">
    {{ siteTitle }}
  </h1>

  <h2 class="subtitle is-3 has-text-grey">
    This is my website.
    There are many like it, but this one is <strong>mine</strong>.
  </h2>
</section>

<section class="section">
  <div class="columns is-multiline has-circled-icons">
    {% for link in links %}
    <div class="column has-text-centered has-text-left-mobile">
      <div class="is-inline-mobile is-size-1 is-size-4-mobile">
        <a href="{{ link.url }}" title="{{ link.title }}">
          <span class="icon has-circled-icon">
            <i class="icon-{{ link.icon }}"></i>
          </span>
        </a>
      </div>
      <div class="is-inline-mobile is-size-4">
        <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
